.main-col {
    z-index: 2;
    position: fixed;
    top: 0%;
    background: skyblue;
    background-image: url(Images/sky.jpg);
    /* display: none */
}

#home-btn {
    font-weight: bold;
}

.plot-col {
    width: 100%;
    height: 100%;
    border: none !important;
    background: rgb(51, 173, 55);
}

.item-col {
    /* overflow: scroll; */
    width: 100%;
    height: 200px;
}

.drag-area {
    width: 100%;
    height: 100%;
}

#backBtn {
    position: absolute;
    top: 135px;
    left: 5%;
    border: none;
    border-radius: 30%;
    /* background: rgb(152, 224, 94); */
    padding: 5px 10px;
    font-weight: bold;
    background-image: url(/Images/Buttons/newPrev.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 75px;
    width: 75px;
    z-index: 100;
}

#nextBtn {
    position: absolute;
    top: 135px;
    right: 5%;
    border: none;
    border-radius: 30%;
    /* background: rgb(152, 224, 94); */
    padding: 5px 10px;
    font-weight: bold;
    background-image: url(/Images/Buttons/newNext.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 75px;
    width: 75px;
    z-index: 100;
}

#backBtn:hover {
    background-image: url(/Images/Buttons/newPrev_hover.png);
}

#nextBtn:hover {
    background-image: url(/Images/Buttons/newNext_hover.png);
}

/* .plot-btns:hover {
    box-shadow: 0px 0px 20px rgba(5, 224, 67, 0.5);
    border: 1px 1px 1px black;
} */


.undropped-plants-title {
    text-transform: capitalize;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.undropped-plants:hover{
    opacity: 1;
    box-shadow: 0px 0px 20px rgba(5, 224, 67, 0.5);
    border: 1px 1px 1px black;
}

.undropped-plants:hover .undropped-plants-title{
    opacity: 1;
    text-shadow: 1px 1px 3px rgba(248, 93, 4, 0.897);
    text-emphasis: bold;
}

.dropped-plants-title {
    text-transform: capitalize;
    opacity: 0;
}

.dropped-plants:hover .dropped-plants-title {
    text-shadow: 1px 1px 3px rgba(248, 93, 4, 0.897);
    opacity: 1;
}


#backBtn:active, #nextBtn:active, #nextBtn:focus, #nextBtn:visited {
    border: none;
    box-shadow: 0px 0px 20px rgba(5, 224, 67, 0.5);
}

.plot-search {
    display: inline-block;
    position: absolute;
    top: 15%;
    right: 45%;
    transform: translate(50%,-50%);
    width: 30%;
    /* text-align: center;
    border-radius: 3px;
    background: rgb(152, 224, 94, 0.3);
    padding: 2px 10px; */
    font-weight: bold;
}

.plot-search label {
    font-weight: bold;
    font-size: 18px;
}

.plot-search input {
    font-size: 18px;
}

#plot-search:hover {
    /* box-shadow: 0px 0px 20px rgba(5, 224, 67, 0.5); */
    /* transform: translateY(100%); */
    /* animation-name: drift;
    animation-duration: 0.5s; */
}

.DnD {
    margin-top: 6em;
}

/* @keyframes drift {
    from{
        top: 100%;
        opacity: 0.1;
    }
    to{
        height: 30px;
        top: 10%;
        opacity: 1;
    }
} */

.search-link {
    display: inline-block;
}
.search-link:hover {
    text-decoration: none;
}

.tilte-create {
    display: inline-block;
}