
.col-padding {
    padding: 0px 0px 0px 0px;
}

.container-fluid {
    padding: 0px 0px
}

.row {
    width: 100%;
    margin: 0px 0px
}

#jumbotron {
    height: 45vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#jumbotron h1 {
    color: white;
    font-size: 60px;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 5px;
    text-align: center;

}

#intro-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background: white;
}

#intro-container h1 {
    align-items: center;
}

#welcome-div {
    width: 100vw;
    text-align: left;
}

#intro-img {
    height: 60vh;
    width: 100%;
}

#container-two {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background:white;
}

#plant-header {
    text-align: right;
}

#plant-body {
    text-align: left;
}

.homepageinfo {
    text-align: center;
    padding: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #333;
    margin: 10px;

}

.sides {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    
}

.search:focus {
    border: 1px rgb(17, 142, 44) solid !important;
    box-shadow: 0px 0px 10px rgb(17, 142, 44) !important;
}

.btn {
    background: rgb(17, 142, 44) !important;
    width: 75%;
    text-align: center;
}

.pad {
    padding: 10px;
}
@media (min-width: 768px) { 
    .sides {
        border-right: 1px solid black;
        padding-bottom: 0px;
        border-bottom: 0px;
       
    }
    #jumbotron {
        height: 55vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .homepageinfo {
       margin: 0px;
    }
 }

 .icon {
     height: 200px;
     padding: 20px;
 }

 .icon2 {
     height: 190px;
     padding: 20px;
 }

 .test1 {
     margin-top: 30px;
 }
 
 .test2 {
    margin-bottom: 100px;

 }


