
.col-padding {
    padding: 0px 0px 0px 0px;
}

.container-fluid {
    padding: 0px 0px
}

.row {
    width: 100%;
    margin: 0px 0px
}

#jumbotron {
    height: 45vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 -3px 10px 3px rgba(0, 0, 0, 0.2);

}

#jumbotron h1 {
    color: white;
    font-size: 60px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;

}

#intro-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background: white;
}

#intro-slide {
    margin-top: 10em;
}

#plant-p {
    margin-top: 5em;
}

#intro-container h1 {
    align-items: center;
}

#intro-row {
    padding: 10px;
}

#welcome-div {
    width: 100vw;
    text-align: left;
    padding: 10px;
}

#intro-img {
    height: 60vh;
    width: 100%;
}

#container-two {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background:white;
    
}

.bot{
    padding: 10px;
}

#plant-header {
    text-align: left;
}

#plant-body {
    text-align: left;
}

.homepageinfo {
    text-align: center;
    padding: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #333;
    margin: 10px;

}

.sides {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    
}

.search:focus {
    border: 1px rgb(17, 142, 44) solid !important;
    box-shadow: 0px 0px 10px rgb(17, 142, 44) !important;
}

.btn {
    background: rgba(43, 206, 78, 0.281) !important;
    width: 75%;
    text-align: center;
}

.custom-btn {
    width: 100%;
}

.pad {
    padding: 10px;
}
@media (min-width: 768px) { 
    .sides {
        border-right: 1px solid black;
        padding-bottom: 0px;
        border-bottom: 0px;
       
    }
    #jumbotron {
        height: 55vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .homepageinfo {
       margin: 0px;
    }
 }

 .icon {
     height: 200px;
     padding: 20px;
 }

 .icon2 {
     height: 195px;
     padding: 20px;
 }

 .jumbotron{
    position: relative;
    z-index:-101;
  }
  
 
.top {
    margin-top: 3px;
}

.bottom {
    margin-bottom: 4em;
}

